{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
   <div class="container">
    <div class="row uslugi ">
          <div class="col-12 text-center">
            <h2 class="py-1 display-1">Услуги</h2>
            <h2 class="display-2">Что мы предлагаем</h2>
          </div>
          <div class="container">
          <div class="row py-4">
              <div class="col-xl-3 text-center">
                <h4>Готовый код</h4>
                <p>Можно встраивать в свои проекты</p>
              </div>
              <div class="col-xl-3 text-center">
                <h4>Легко переделать</h4>
                <p>Легкий и удобный код, который переписать</p>
              </div>
              <div class="col-xl-3 text-center">
                <h4>Помощь</h4>
                <p>Поддержка и помощь при работе с сервисом</p>
              </div>
              <div class="col-xl-3 text-center">
                <h4>Качество</h4>
                <p>Качественные работы по низким ценам</p>
              </div>
          </div>
        </div>
        </div>
   </div>
{% endblock %}