{% extends 'blog/base.html' %}

{% block title %}
    Кабинет пользователя

{% endblock %}


{% block content %}
<div class="container">
    <h1>Кабинет пользователя</h1>
    <div class="d-flex text-muted pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="64" height="64" src="{{ user.profile.img.url }}">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">{{ user.username }}</strong>
        <b>Email: </b>{{ user.email }}
      </p>
    </div>
    <form method="post" enctype="multipart/form-data" class="form-register mt-4">
        {% csrf_token %}
        {{ updateUserForm.as_p }}
        {{ profileForm.as_p }}
        <button class="btn btn-outline-danger" type="submit">Обновить</button>
    </form>
</div>
{% endblock %}